cosmetics_lakehouse:
  target: local
  outputs:
    local:
      type: spark
      method: thrift
      host: "{{ env_var('SPARK_THRIFT_HOST', 'spark-thrift') }}"
      port: "{{ env_var('SPARK_THRIFT_PORT', '10000') | int }}"
      auth: NOSASL
      user: pipeline
      schema: default
      threads: 1
      connect_retries: 5
      connect_timeout: 15
      retry_all: true
      server_side_parameters:
        spark.sql.session.timeZone: UTC
