.env
.env.*
!.env.example
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
data/**
artifacts/**
spark/jars/
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/profiles.yml
backups/
*.egg-info/
.DS_Store
dbt/.user.yml
derby.log
metastore_db/
spark-warehouse/
